<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Speculo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- gLightbox gallery-->
    <link rel="stylesheet" href="/vendor/glightbox/css/glightbox.min.css">
    <!-- Range slider-->
    <link rel="stylesheet" href="/vendor/nouislider/nouislider.min.css">
    <!-- Choices CSS-->
    <link rel="stylesheet" href="/vendor/choices.js/public/assets/styles/choices.min.css">
    <!-- Swiper slider-->
    <link rel="stylesheet" href="/vendor/swiper/swiper-bundle.min.css">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
      * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      font-family: 'Open Sans', sans-serif;
    }
  
    body {
      line-height: 1.5;
    }
  
    .card-wrapper {
      max-width: 1100px;
      margin: 0 auto;
    }
  
    img {
      width: 100%;
      display: block;
    }
  
    .img-display {
      overflow: hidden;
    }
  
    .img-showcase {
      display: flex;
      width: 100%;
      transition: all 0.5s ease;
    }
  
    .img-showcase img {
      min-width: 100%;
    }
  
    .img-select {
      display: flex;
    }
  
    .img-item {
      margin: 0.3rem;
    }
  
    .img-item:nth-child(1),
    .img-item:nth-child(2),
    .img-item:nth-child(3) {
      margin-right: 0;
    }
  
    .img-item:hover {
      opacity: 0.8;
    }
  
    .product-content {
      padding: 2rem 1rem;
    }
  
    .product-title {
      font-size: 3rem;
      text-transform: capitalize;
      font-weight: 600;
      position: relative;
      color: #12263a;
      margin: 1rem 0;
    }
  
    .product-title::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 4px;
      width: 80px;
      background: #12263a;
    }
  
    .product-link {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 0.9rem;
      display: inline-block;
      margin-bottom: 0.5rem;
      background: #256eff;
      color: #fff;
      padding: 0 0.3rem;
      transition: all 0.5s ease;
    }
  
    .product-link:hover {
      opacity: 0.9;
    }
  
    .product-rating {
      color: #ffc107;
    }
  
    .product-rating span {
      font-weight: 600;
      color: #252525;
    }
  
    .product-price {
      margin: 1rem 0;
      font-size: 1rem;
      font-weight: 700;
    }
  
    .product-price span {
      font-weight: 400;
    }
  
    .last-price span {
      color: #f64749;
      text-decoration: line-through;
    }
  
    .new-price span {
      color: #256eff;
    }
  
    .product-detail h2 {
      text-transform: capitalize;
      color: #12263a;
      padding-bottom: 0.6rem;
    }
  
    .product-detail p {
      font-size: 0.9rem;
      padding: 0.3rem;
      opacity: 0.8;
    }
  
    .product-detail ul {
      margin: 1rem 0;
      font-size: 0.9rem;
    }
  
    .product-detail ul li {
      margin: 0;
      list-style: none;
      background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat;
      background-size: 18px;
      padding-left: 1.7rem;
      margin: 0.4rem 0;
      font-weight: 600;
      opacity: 0.9;
    }
  
    .product-detail ul li span {
      font-weight: 400;
    }
  
    .purchase-info {
      margin: 1.5rem 0;
    }
  
    .purchase-info input,
    .purchase-info .btn {
      border: 1.5px solid #ddd;
      border-radius: 25px;
      text-align: center;
      padding: 0.45rem 0.8rem;
      outline: 0;
      margin-right: 0.2rem;
      margin-bottom: 1rem;
    }
  
    .purchase-info input {
      width: 60px;
    }
  
    .purchase-info .btn {
      cursor: pointer;
      color: #fff;
    }
  
    .purchase-info .btn:first-of-type {
      background: #256eff;
    }
  
    .purchase-info .btn:last-of-type {
      background: #f64749;
    }
  
    .purchase-info .btn:hover {
      opacity: 0.9;
    }
  
    .social-links {
      display: flex;
      align-items: center;
    }
  
  .social-links a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      color: #000;
      border: 1px solid #000;
      margin: 0 0.2rem;
      border-radius: 50%;
      text-decoration: none;
      font-size: 0.8rem;
      transition: all 0.5s ease;
    }
  
    .social-links a:hover {
      background: #000;
      border-color: transparent;
      color: #fff;
    }
  
  
    @media screen and (min-width: 992px) {
      .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
      }
  
      .card-wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
  
      .product-content {
        padding-top: 0;
      }
    }
  
  
    * {box-sizing: border-box;}
  
  .img-zoom-container {
    position: relative;
  }
  
  .img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
  }
  
  .img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 300px;
    height: 300px;
  }
  </style> 
  </head>
  <body>
    <div class="page-holder bg-light">
      <!-- navbar-->
      <header class="header bg-white">
        <div class="container px-lg-3">
          <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0"><a class="navbar-brand" href="index.html"><span class="fw-bold text-uppercase text-dark">Speculo</span></a>
            <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <!-- Link--><a class="nav-link" href="/userHome">Home</a>
                </li>
                <li class="nav-item">
                  <!-- Link--><a class="nav-link" href="/shop2">Shop</a>
                </li>
                <li class="nav-item">
                  <!-- Link--><a class="nav-link active" href="">Product detail</a>
                </li>
                <!-- <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                  <div class="dropdown-menu mt-3 shadow-sm" aria-labelledby="pagesDropdown"><a class="dropdown-item border-0 transition-link" href="index.html">Homepage</a><a class="dropdown-item border-0 transition-link" href="shop.html">Category</a><a class="dropdown-item border-0 transition-link" href="detail.html">Product detail</a><a class="dropdown-item border-0 transition-link" href="cart.html">Shopping cart</a><a class="dropdown-item border-0 transition-link" href="checkout.html">Checkout</a></div>
                </li> -->
              </ul>
              <ul class="navbar-nav ms-auto">               
                <li class="nav-item"><a class="nav-link" href="cart.html"> <i class="fas fa-dolly-flatbed me-1 text-gray"></i>Cart<small class="text-gray fw-normal"></small></a></li>
                <li class="nav-item"><a class="nav-link" href="#!"> <i class="far fa-heart me-1"></i><small class="text-gray fw-normal"> </small></a></li>
                <li class="nav-item"><a class="nav-link" href="#!"> <i class="fas fa-user me-1 text-gray fw-normal"></i></a></li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
        <!-- Modal  -->
      <!-- <div class="modal fade" id="productView" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content overflow-hidden border-0">
            <button class="btn-close p-4 position-absolute top-0 end-0 z-index-20 shadow-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body p-0">
              <div class="row align-items-stretch">
                <div class="col-lg-6 p-lg-0"><a class="glightbox product-view d-block h-100 bg-cover bg-center" style="background: url(img/product-5.jpg)" href="img/product-5.jpg" data-gallery="gallery1" data-glightbox="Red digital smartwatch"></a><a class="glightbox d-none" href="img/product-5-alt-1.jpg" data-gallery="gallery1" data-glightbox="Red digital smartwatch"></a><a class="glightbox d-none" href="img/product-5-alt-2.jpg" data-gallery="gallery1" data-glightbox="Red digital smartwatch"></a></div>
                <div class="col-lg-6">
                  <div class="p-4 my-md-4">
                    <ul class="list-inline mb-2">
                      <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                      <li class="list-inline-item m-0 1"><i class="fas fa-star small text-warning"></i></li>
                      <li class="list-inline-item m-0 2"><i class="fas fa-star small text-warning"></i></li>
                      <li class="list-inline-item m-0 3"><i class="fas fa-star small text-warning"></i></li>
                      <li class="list-inline-item m-0 4"><i class="fas fa-star small text-warning"></i></li>
                    </ul>
                    <h2 class="h4">Red digital smartwatch</h2>
                    <p class="text-muted">$250</p>
                    <p class="text-sm mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ullamcorper leo, eget euismod orci. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Vestibulum ultricies aliquam convallis.</p>
                    <div class="row align-items-stretch mb-4 gx-0">
                      <div class="col-sm-7">
                        <div class="border d-flex align-items-center justify-content-between py-1 px-3"><span class="small text-uppercase text-gray mr-4 no-select">Quantity</span>
                          <div class="quantity">
                            <button class="dec-btn p-0"><i class="fas fa-caret-left"></i></button>
                            <input class="form-control border-0 shadow-0 p-0" type="text" value="1">
                            <button class="inc-btn p-0"><i class="fas fa-caret-right"></i></button>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-5"><a class="btn btn-dark btn-sm w-100 h-100 d-flex align-items-center justify-content-center px-0" href="cart.html">Add to cart</a></div>
                    </div><a class="btn btn-link text-dark text-decoration-none p-0" href="#!"><i class="far fa-heart me-2"></i>Add to wish list</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  -->
      <div class="card-wrapper mt-0">
        <div class="card ">
          <!-- card left -->
          <div class="product-imgs">
            <div class="img-display">
              <div class="img-showcase ">
                <img id="myimage" class="big_img" src="<%= data.Image[0] %>" alt="shoe image" >
                <img id="myimage" class="big_img" src="<%= data.Image[1] %>" alt="shoe image">
                <img id="myimage" class="big_img" src="<%= data.Image[2] %>" alt="shoe image">
                <!-- <img id="myimage" class="big_img" src="<%= data.Image[3] %>" alt="shoe image"> -->
              </div>
            </div>
            <div class="img-select">
              <div class="img-item">
                <a href="#" data-id="1">
                  <img  src="<%= data.Image[0] %>" alt="shoe image">
                </a>
              </div>
              <div class="img-item">
                <a href="#" data-id="2">
                  <img src="<%= data.Image[1] %>" alt="shoe image">
                </a>
              </div>
              <div class="img-item">
                <a href="#" data-id="3">
                  <img src="<%= data.Image[2] %>" alt="shoe image">
                </a>
              </div>
              <!-- <div class="img-item">
                <a href="#" data-id="4">
                  <img src="<%= data.Image[3] %>" alt="shoe image">
                </a>
              </div> -->
            </div>
          </div>
          <!-- card right -->
          <div class="product-content">
            <h2 class="product-title">
              <%= data.Productname %>
            </h2>
            <!-- <a href = "#" class = "product-link">visit nike store</a> -->
            <div class="product-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span>
                4.5
              </span>
            </div>

            <div class="product-price">
            <% if (offer != null) { %>
              <p class="offer-price"><strong>Offer:</strong>
                <%= offer.discount %>%off
              </p>
              <p class="old-price">Price:<span>$<%= data.Price %></span></p>
              <% var offerPrice = data.Price - (data.Price * (offer.discount / 100)); %>
              <p><strong>Offer price:</strong><span>$<%= offerPrice.toFixed(2) %></span></p>
            <%} else {%>
              <p class="old-price"><strong>Price:</strong><span>$<%= data.Price %></span></p>
            <%}%>
            </div>
    
            <div class="product-detail">
              <h2>about this item </h2>
              <p class="text-sm mb-4">Model: <%= data.Model %></p>
              <p>
                <%= data.Description %> 
              </p>
              <!-- <ul>
                <li>Color: <span>Black</span></li>
                <li>Available: <span>in stock</span></li>
                <li>Category: <span>Shoes</span></li>
                <li>Shipping Area: <span>All over the world</span></li>
                <li>Shipping Fee: <span>Free</span></li>
              </ul> -->
            </div>
    
            <div class="purchase-info">
              <!-- <input type = "number" min = "0" value = "1"> -->
              <div class="col-sm-3 pl-sm-0"><a class="btn btn-info btn-sm btn-block h-100 d-flex align-items-center justify-content-center px-0" href="/addtocart/<%= data._id %>">Add to Cart</a></div>
    
              <!-- <button type = "button" class = "btn">Compare</button> -->
            </div>
    
            <!-- <div class = "social-links">
              <p>Share At: </p>
              <a href = "#">
                <i class = "fab fa-facebook-f"></i>
              </a>
              <a href = "#">
                <i class = "fab fa-twitter"></i>
              </a>
              <a href = "#">
                <i class = "fab fa-instagram"></i>
              </a>
              <a href = "#">
                <i class = "fab fa-whatsapp"></i>
              </a>
              <a href = "#">
                <i class = "fab fa-pinterest"></i>
              </a>
            </div> -->
          </div>
        </div>
      </div>
      <footer class="bg-dark text-white">
        <div class="container py-4">
          <div class="row py-5">
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Customer services</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#!">Help &amp; Contact Us</a></li>
                <li><a class="footer-link" href="#!">Returns &amp; Refunds</a></li>
                <li><a class="footer-link" href="#!">Online Stores</a></li>
                <li><a class="footer-link" href="#!">Terms &amp; Conditions</a></li>
              </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Company</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#!">What We Do</a></li>
                <li><a class="footer-link" href="#!">Available Services</a></li>
                <li><a class="footer-link" href="#!">Latest Posts</a></li>
                <li><a class="footer-link" href="#!">FAQs</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h6 class="text-uppercase mb-3">Social media</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#!">Twitter</a></li>
                <li><a class="footer-link" href="#!">Instagram</a></li>
                <li><a class="footer-link" href="#!">Tumblr</a></li>
                <li><a class="footer-link" href="#!">Pinterest</a></li>
              </ul>
            </div>
          </div>
          <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
              <div class="col-md-6 text-center text-md-start">
                <p class="small text-muted mb-0">&copy; 2021 All rights reserved.</p>
              </div>
              <div class="col-md-6 text-center text-md-end">
                <p class="small text-muted mb-0">Template designed by <a class="text-white reset-anchor" href="https://bootstrapious.com/p/boutique-bootstrap-e-commerce-template">Bootstrapious</a></p>
                <!-- If you want to remove the backlink, please purchase the Attribution-Free License. See details in readme.txt or license.txt. Thanks!-->
              </div>
            </div>
          </div>
        </div>
      </footer>
      <script>
        const imgs = document.querySelectorAll('.img-select a');
        const imgBtns = [...imgs];
        let imgId = 1;
    
        imgBtns.forEach((imgItem) => {
          imgItem.addEventListener('click', (event) => {
            event.preventDefault();
            imgId = imgItem.dataset.id;
            slideImage();
          });
        });
    
        function slideImage() {
          const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;
    
          document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId - 1) * displayWidth}px)`;
        }
    
        window.addEventListener('resize', slideImage);
    
    </script>
     <script src="/js/zoomsl.js"></script>
     <script src="/js/zoomsl.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
      $('.big_img').imagezoomsl({
        zoomrange: [1,1]
      });
    })
    </script>
      <!-- JavaScript files-->
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="vendor/glightbox/js/glightbox.min.js"></script>
      <script src="vendor/nouislider/nouislider.min.js"></script>
      <script src="vendor/swiper/swiper-bundle.min.js"></script>
      <script src="vendor/choices.js/public/assets/scripts/choices.min.js"></script>
      <script src="js/front.js"></script>
      <script>
        // ------------------------------------------------------- //
        //   Inject SVG Sprite - 
        //   see more here 
        //   https://css-tricks.com/ajaxing-svg-sprite/
        // ------------------------------------------------------ //
        function injectSvgSprite(path) {
        
            var ajax = new XMLHttpRequest();
            ajax.open("GET", path, true);
            ajax.send();
            ajax.onload = function(e) {
            var div = document.createElement("div");
            div.className = 'd-none';
            div.innerHTML = ajax.responseText;
            document.body.insertBefore(div, document.body.childNodes[0]);
            }
        }
        // this is set to BootstrapTemple website as you cannot 
        // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
        // while using file:// protocol
        // pls don't forget to change to your domain :)
        injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg'); 
        
      </script>
      <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </div>
  </body>
</html>