<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>userProfile</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- gLightbox gallery-->
  <link rel="stylesheet" href="vendor/glightbox/css/glightbox.min.css">
  <!-- Range slider-->
  <link rel="stylesheet" href="vendor/nouislider/nouislider.min.css">
  <!-- Choices CSS-->
  <link rel="stylesheet" href="vendor/choices.js/public/assets/styles/choices.min.css">
  <!-- Swiper slider-->
  <link rel="stylesheet" href="vendor/swiper/swiper-bundle.min.css">
  <!-- Google fonts-->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
  <!-- theme stylesheet-->
  <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" href="css/custom.css">
  <!-- Favicon-->
  <link rel="shortcut icon" href="">

  <style>
    .heading {
      text-align: center;
      font-size: large;
    }


    .main {
      background-color: rgb(53, 53, 53);
      line-height: 1.6;
      margin: 0px;
      padding: 30px;
      margin-left: 250px;
    }

    .header{
      margin-left: 250px;
    }

    .profile {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f9f9f9;
    }

    .profile h2 {
      margin-top: 0;
      color: #333;
    }

    .profile-info {
      margin-bottom: 15px;
    }

    .profile-info label {
      font-weight: bold;
    }

    .sidebar {
      height: 100%;
      width: 250px;
      position: fixed;
      top: 0;
      left: 0;
      background-color:  #898989;
      padding-top: 20px;
    }

    .sidebar h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .sidebar ul {
      list-style: none;
      padding: 0;
    }

    .sidebar ul li {
      padding: 10px 0;
      text-align: center;
    }

    .sidebar ul li a {
      text-decoration: none;
      color: #333;
      display: block;
    }

    .sidebar ul li a:hover {
      background-color: #ddd;
    }

  </style>

</head>

<body>
  <div class="page-holder">
    <!-- navbar-->
    <header class="header bg-white">
      <div class="container px-lg-3">
        <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0"><a class="navbar-brand" href=""><span
              class="fw-bold text-uppercase text-dark">Speculo</span></a>
          <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <!-- Link--><a class="nav-link" href="/userHome">Home</a>
              </li>
              <li class="nav-item">
                <!-- Link--><a class="nav-link " href="/shop2">Shop</a>
              </li>
              <li class="nav-item">
                <!-- Link--><a class="nav-link" href="detail.html">Product detail</a>
              </li>
              <!-- <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                  <div class="dropdown-menu mt-3 shadow-sm" aria-labelledby="pagesDropdown"><a class="dropdown-item border-0 transition-link" href="index.html">Homepage</a><a class="dropdown-item border-0 transition-link" href="shop.html">Category</a><a class="dropdown-item border-0 transition-link" href="detail.html">Product detail</a><a class="dropdown-item border-0 transition-link" href="cart.html">Shopping cart</a><a class="dropdown-item border-0 transition-link" href="checkout.html">Checkout</a></div>
                </li> -->
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" href="cart.html"> <i
                    class="fas fa-dolly-flatbed me-1 text-gray"></i>Cart<small class="text-gray fw-normal"></small></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#!"> <i class="far fa-heart me-1"></i><small
                    class="text-gray fw-normal"> </small></a></li>
              <li class="nav-item"><a class="nav-link" href="#!"> <i
                    class="fas fa-user me-1 text-gray fw-normal"></i></a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <div class="sidebar">
      <h2>User Options</h2>
      <ul>
        <li><a href="showOrder">Show Orders</a></li>
        <li><a href="/viewAddress">Show Address</a></li>
        <li><a href="/editProfile">Edit User Details</a></li>
        <li><a href="/changePassword">Change Password</a></li>
        <li><a href="/addAddress">Add Address</a></li>
        <li><a href="/walletHistory">Wallet History</a>
      </ul>
    </div>
    <section class="main">
      <p class="heading"><span class="fw-bold text-uppercase text-dark text-center">User Profile</span></p>
      <div class="profile">
        <h2>Details</h2>
        <div class="profile-info">
          <label for="firstname">First name:</label>
          <span id="username"><%= userdetails.firstname %></span>
        </div>
        <div class="profile-info">
          <label for="lastname">Last name:</label>
          <span id="username"><%= userdetails.lastname %></span>
        </div>
        <div class="profile-info">
          <label for="email">Email:</label>
          <span id="email"><%= userdetails.email %></span>
        </div>
        <div class="profile-info">
          <label for="referal">ReferalCode:</label>
          <span id="referalcode"><%= userdetails.referalcode %></span>
        </div>
        <div class="profile-info">
          <label for="referal">ReferalLink:</label>
          <span id="referalcode"><%= userdetails.referallink %></span>
        </div>
        <div class="profile-info">
          <label for="wallet">Wallet:</label>
          <span id="wallet">$<%= userdetails.wallet %></span>
        </div>
        <!-- You can add more profile properties here -->
      </div>
    </section>
  </div>
</body>

</html>